<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection</title>
</head>
<body>
    <h1>Fraud Detection</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        Time: <input type="text" name="time"><br><br>
        Amount: <input type="text" name="amount"><br><br>
        V1: <input type="text" name="v1"><br><br>
        V2: <input type="text" name="v2"><br><br>
        V3: <input type="text" name="v3"><br><br>
        V4: <input type="text" name="v4"><br><br>
        V5: <input type="text" name="v5"><br><br>
        V6: <input type="text" name="v6"><br><br>
        V7: <input type="text" name="v7"><br><br>
        V8: <input type="text" name="v8"><br><br>
        V9: <input type="text" name="v9"><br><br>
        V10: <input type="text" name="v10"><br><br>
        V11: <input type="text" name="v11"><br><br>
        V12: <input type="text" name="v12"><br><br>
        V13: <input type="text" name="v13"><br><br>
        V14: <input type="text" name="v14"><br><br>
        V15: <input type="text" name="v15"><br><br>
        V16: <input type="text" name="v16"><br><br>
        V17: <input type="text" name="v17"><br><br>
        V18: <input type="text" name="v18"><br><br>
        V19: <input type="text" name="v19"><br><br>
        V20: <input type="text" name="v20"><br><br>
        V21: <input type="text" name="v21"><br><br>
        V22: <input type="text" name="v22"><br><br>
        V23: <input type="text" name="v23"><br><br>
        V24: <input type="text" name="v24"><br><br>
        V25: <input type="text" name="v25"><br><br>
        V26: <input type="text" name="v26"><br><br>
        V27: <input type="text" name="v27"><br><br>
        V28: <input type="text" name="v28"><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>